﻿@model IEnumerable<EFTesting.DTOs.PersonDTO>

@{
    ViewData["Title"] = "Person list";
}

<h1>Person list</h1>

<p>
    <a class="btn btn-primary" asp-action="BasicForm">Create</a>
</p>

<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emails)
            </th>
            <th>
                <span>Options</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (!item.Emails.Any())
                    {
                        <span>N/A</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Emails.FirstOrDefault().EmailAddress)
                    }
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="BasicForm" asp-route-personId="@item.Id">Update</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-personId="@item.Id" onclick="return confirm('Are you sure you want to delete person?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
