﻿@model IEnumerable<ExpertSender.DTOs.EmailDTO>

@{
    ViewData["Title"] = "Email list";
}

<h1>Email list</h1>

<p>
    <a class="btn btn-primary" asp-action="BasicForm">Create</a>
</p>

<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                <span>Options</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @if (item.Person.Id <= 0)
                    {
                        <span>N/A</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Person.FullName)
                    }
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="BasicForm" asp-route-emailId="@item.Id">Update</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-emailId="@item.Id" onclick="return confirm('Are you sure you want to delete email?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
