﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Testing project for lerning EF. Maybe for something more.</p>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Persons</h5>
            <p class="card-text">Module for simple CRUD actions on Person Entity.</p>
            <a class="btn btn-primary" asp-controller="Person" asp-action="Index">Person list</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Emails</h5>
            <p class="card-text">Module for simple CRUD actions on Email Entity.</p>
            <a class="btn btn-primary" asp-controller="Email" asp-action="Index">Email list</a>
          </div>
        </div>
      </div>
    </div>
</div>
