﻿@model ExpertSender.DTOs.PersonDTO

@{
    string title = "Update person";
    string action = "Update";

    if (Model == null)
    {
        title = "Create person";
        action = "Create";
    }

    ViewData["Title"] = title;
}

<h1>@title</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@action">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group float-right">
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
                <input type="submit" value="@action" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
