﻿@model EFTesting.DTOs.EmailDTO

@{
    string title = "Update email";
    string action = "Update";

    if (Model == null)
    {
        title = "Create email";
        action = "Create";
    }

    ViewData["Title"] = title;
}

<h1>@title</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@action">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label">Email Address</label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person" class="control-label"></label>
                <select asp-for="PersonId" asp-items="@ViewBag.Persons" class="form-control">
                    <option value="null">N/A</option>
                </select>
            </div>
            <div class="form-group float-right">
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
                <input type="submit" value="@action" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
